EDA - Part 1

In [1]:
import sweetviz as sv
import pandas as pd
import xgboost as xgb

train = pd.read_csv('/home/dennis/MadeiraMadeira/Neoway/data/pds_train.csv', sep=";")
train

,cd_ramo_atividade,cd_natureza_juridica,fl_optante_simples,fl_matriz,dt_abertura,de_natureza_juridica,sg_uf,de_situacao,dt_situacao,de_motivo_situacao,...,nm_micro_regiao,vl_total_veiculos,vl_total_veiculos_grupo,fl_passivel_iss,qt_func_coligadas,qt_func_grupo_coligadas,renda_censitaria_2010,fl_empresa_contato_contador,ind_atividade,id
0,6319400,2062,True,True,2013-11-11,SOCIEDADE EMPRESARIA LIMITADA,PA,ATIVA,2013-11-11,NaN,...,MARABA,NaN,0,True,0.0,0.0,1683.09,False,1,10795
1,9603304,2135,True,True,2001-01-16,EMPRESARIO INDIVIDUAL,MG,ATIVA,2005-11-03,NaN,...,FORMIGA,NaN,0,True,NaN,NaN,3136.54,False,1,4396
2,4922101,2062,False,True,2010-05-05,SOCIEDADE EMPRESARIA LIMITADA,TO,ATIVA,2010-05-05,NaN,...,MIRACEMA DO TOCANTINS,1.0,1,True,0.0,0.0,440.99,True,1,250810
3,4614100,2062,True,True,2011-12-12,SOCIEDADE EMPRESARIA LIMITADA,SP,ATIVA,2011-12-12,NaN,...,ITAPEVA,NaN,0,False,NaN,NaN,883.74,True,1,675
4,7739099,2135,True,True,2011-07-01,EMPRESARIO INDIVIDUAL,PR,ATIVA,2011-07-01,NaN,...,MARINGA,NaN,0,True,NaN,NaN,894.17,False,1,273981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231505,4772500,2062,False,True,2009-10-06,SOCIEDADE EMPRESARIA LIMITADA,RS,ATIVA,2009-10-06,NaN,...,LITORAL LAGUNAR,NaN,0,False,0.0,0.0,2435.34,False,0,105991
231506,4755502,2135,True,True,2011-08-31,EMPRESARIO INDIVIDUAL,SP,ATIVA,2011-08-31,NaN,...,SOROCABA,NaN,0,False,NaN,NaN,799.02,False,1,112082
231507,4729699,2135,True,True,2013-08-01,EMPRESARIO INDIVIDUAL,RN,ATIVA,2013-08-01,NaN,...,MOSSORO,NaN,0,False,NaN,NaN,933.81,False,1,243886
231508,6821801,2135,True,True,2016-01-25,EMPRESARIO INDIVIDUAL,RS,ATIVA,2016-01-25,NaN,...,PORTO ALEGRE,NaN,0,True,NaN,NaN,2725.63,False,1,286041
231509,4930203,2135,True,True,2013-03-21,EMPRESARIO INDIVIDUAL,RS,ATIVA,2013-03-21,NaN,...,PORTO ALEGRE,NaN,0,True,NaN,NaN,785.90,False,1,178866

In [6]:
report=sv.analyze(train)
report.show_html()

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:07 -> (00:00 left)
Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.